/* .about {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto 1fr auto;
} */

.abtimg {
  width: 300px;
  margin: 10px;
}

p {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.hobbies {
  display: list-item;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.favorites {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: row;
}

.books {
  font-weight: bold;
}

.booksList {
  font-weight: normal;
}

.games {
  font-weight: bold;
}

.gamesList {
  font-weight: normal;
}

.records {
  font-weight: bold;
}

.recordsList {
  font-weight: normal;
}

.podcasts {
  font-weight: bold;
}

.podcastsList {
  font-weight: normal;
}