.detailsImage {
  width: 50%;
  margin: 15px;
  padding: 15px;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projDesc {
  margin: 15px;
  padding: 15px;

}

.btns {
  margin: 15px;
  padding: 15px;
}

.ghBtn {
  margin: 15px;
  padding: 15px;
  color: #e2dadb;
  background-color: #7e8287;
}

.launchBtn {
  margin: 15px;
  padding: 15px;
  color: #e2dadb;
  background-color: #7e8287;
}

.repoLink {
  margin: 15px;
}

.deployedLink {
  margin: 15px;
}